.profile img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 1px solid black;
}
.edit{
    display: none;
}
.edit:hover{
    cursor:pointer;
}


@media (max-width: 768px) {
    .shareButtonCont{
        padding-top: 20px;
        justify-content: center!important;
    }
   }