footer .photoGallery img{
    height: 80px;
    width: 150px;
    padding: 5px 0;
}
footer a, .links h3 , .links li{
    text-decoration: none;
    color: white;
    text-align: center;
}
.photoGallery .col-lg-4{
    display: flex;
    justify-content: center;
}