.navbarNav{
	width: 100%;
   background-color: #1F1300;
}
.topNav{
   width: 100%;
}
.nav-item .nav-link , .contactUsNum{	
    text-decoration: underline;
}
.navbar-nav{
	font-weight: 600;
   flex-direction: row;
}
.contactUsNum{
	color: white;
	font-family:Arial, Helvetica, sans-serif
}
 
@media (max-width: 768px) {
 .topNav{
    display: flex;
    flex-direction: row;
	justify-content: space-evenly;
 }
 .contactUsNum{
    display: none!important;
 }
 .mainNav{
    margin: 0!important;
    padding:  .5rem 1rem!important;
 }
 hr{
    margin: 0!important;
 }
 .navBottom{
   flex-direction: column;
   text-align: center;
   background-color: #1F1300;
 }
 .navBottom .nav-link{
   color: white!important;
   font-weight: 400;
 }
}
@media (max-width: 300px) {
   .navbar-brand{
      font-size: 1rem;
   }
}