.topNav a{
    font-size: small;
    color: white;
}

@media (max-width: 768px) {
 .topNav{
    display: none!important;
 }   
 .contactNum{
    display: none;
 }
 .mainNav{
    margin: 0!important;
    padding:  .5rem 1rem!important;
 }
 hr{
    margin: 0!important;
 }
}