:root {
	--primary1: #fde5ec;
	--primary2: #fcbaad;
	--secondary1: #e48586;
	--secondary2: #916db3;
}
* {
	padding: 0px;
	margin: 0px;
}
.container {
	max-height: 100%;
	max-width: 100%;
	display: flex;
	padding: 0 8%;
}
.image-container {
	height: 500px;
}
.image-container img {
	height: 100%;
}
.product-text {
	height: fit-content;
}
.quantity {
	margin-top: 12%;
}
.quantity label {
	font-size: 20px;
}
.quantity input#quantity {
	width: 78%;
	text-align: center;
}
.add2cart button {
	margin-top: 20px;
	width: 100%;
	height: 50px;
	border-radius: 5px;
}
